<!-- Mailchimp Modal used by footer subscribe button -->
<div class="modal fade  " id="subscribeModal"  tabindex="-1" role="dialog"
     aria-labelledby="demoModal" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered " role="document">
        <div class="modal-content">
            <button type="button" class="close light" data-dismiss="modal"
                    aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {% if subscribe.subscribePopupHeaderImageGeneral.one().url | length %}
                {% set headerImage = subscribe.subscribePopupHeaderImageGeneral.one().url %}
                {% else %}
                {% set headerImage = "https://images.unsplash.com/photo-1543363136-3fdb62e11be5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=80" %}
            {% endif %}
            <div class="m-h-30 bg-img rounded-top " style="background-image: url({{ headerImage}})">

            </div>

            <div class="modal-body">
                <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup">
                    <form class="px-sm-4 py-sm-4" action="https://justlife.us5.list-manage.com/subscribe/post?u=949d295ca4bbd2b9444b9725d&amp;id=ce6d802164"
                          method="post"
                          id="mc-embedded-subscribe-form"
                          name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <h4>Subscribe to our mailing list</h4>
                            <div class="indicates-required mb-2"><span class="asterisk">*</span> indicates required</div>
                            <div class="mc-field-group form-group">
                                <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span><br />
                                </label><br />
                                <input class="form-control" type="email" value="" name="EMAIL" class="required email mc-email-input" id="mce-EMAIL" aria-required="true" required>
                            </div>
                            <div class="mc-field-group form-group">
                                <label for="mce-FNAME">First Name <span class="asterisk">*</span></label><br />
                                <input class="form-control" type="text" value="" name="FNAME" class="" id="mce-FNAME" aria-required="true" required>
                            </div>
                            <div class="mc-field-group form-group">
                                <label for="mce-LNAME">Last Name <span class="asterisk">*</span></label><br />
                                <input class="form-control" type="text" value="" name="LNAME" class="" id="mce-LNAME" aria-required="true" required>
                            </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                            <p>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups--></p>
                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                <input type="text" name="b_949d295ca4bbd2b9444b9725d_ce6d802164" tabindex="-1" value="">
                                <input type="checkbox" checked value="1" name="group[22102][1]" id="mce-group[22102]-22102-0">

                            </div>
                            <div class="clear">
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>
                        </div>
                    </form>
                </div>
                <!--End mc_embed_signup-->
            </div>
        </div>
    </div>
</div>
<!-- Modal Ends -->
<!-- Begin Mailchimp JS Form -->
<!-- fugly solution to stop loading jquery 1.9  a d validate as it clashes with donate validation from 3rd party dropin -->

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>

<script type='text/javascript'>
    // (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';}(jQuery));var $mcj = jQuery.noConflict(true);
    (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);

</script>
<script>
    // $("#pass-email").on("click", function () {
    //     var emailid = $(this).val();
    //     console.log("email = '" + emailid);
    //     $(".modal-body #mce-EMAIL").val( emailid );
    // });
    // select the target node
    var target = document.getElementById('mce-success-response');
    var subbutton = document.getElementById('mc-embedded-subscribe');
    // create an observer instance
    var observer = new MutationObserver(function(mutations) {
        mutations.forEach(function(mutation) {
            if (target.innerHTML === "Thank you for subscribing!") {
                //target.innerHTML = "Check your email for your free chapter!";
                subbutton.value = "You're done!";
            }
        });
    });

    // configuration of the observer:
    var config = { attributes: true, childList: true, characterData: true };

    // pass in the target node, as well as the observer options
    observer.observe(target, config);
</script>
<!--End Mailchimp modal sign up js -->
