{% if entry is defined  and entry.hideBanner != "1" %}

{% set asset = entry.bannerImage[0] ?? null %}

<section class="page-title overlay" style="background-image: url('{{ asset.getUrl() }}');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-white font-weight-bold">{{entry.title}}</h2>
                <ol class="hide breadcrumb">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>About Us</li>
                </ol>
            </div>
        </div>
    </div>
</section>
{% endif %}