body.campaign{
  background-color: #fff;
}
.campaign .navbar-brand{
  top:0;
  padding:30px;
}
.trans{
  opacity:0.8;
}
.campaign h1{
  font-size:4rem;
font-weight: 700;
  text-shadow: none;

}
.campaign h2 {
  //color:$white;
  font-weight: 700;
  //text-shadow: 1px 1px 1px #333
}
#mc_embed_signup h2{
  color:$black;
  font-weight: initial;
  text-shadow: none;
}
.bg-grid{
  z-index: -1;
}
.campaign.page-title{
  padding-top:450px;
}
.campaign .col-left{
  margin-top: -220px;
  opacity:0.95;
}
.campaign .col-lift{
  opacity:0.95;
  margin-top: -360px;
  background: #fff;
  padding: 30px;
  box-shadow: 0 0 2px black;
  border-radius: 2px;
}
//.ElementsApp input,

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: $red;
  box-shadow: 0 1px 1px rgba(208, 15,56, 0.075) inset, 0 0 8px rgba(208, 15,56, 0.6);
  outline: 0 none;
}
.mc-field-group{
  margin-bottom: 15px;
}
.mc-field-group label{
  font-weight:600;
}
.mc-field-group label input:after{
  ////margin-top: 5px;
  //display:block;
  //height:10px;
}
.mc-field-group label.checkbox span{
  margin-left:5px;
}
.indicates-required{
  font-size:90%;
  margin-bottom:0.8rem;
  text-align: right;
  float: right;
  font-style: italic;
}
div.form-intro p:last-of-type{
  //margin-bottom:0.5rem;
}
.donorfy form input{
  border-radius: 5px!important;
  padding: 0 15px 2px!important;
  height: 40px!important;
  //margin-bottom: 15px!important;
  border: 1px solid #e5e5e5!important;
  //font-family: "Open Sans",sans-serif;
  font-weight: 600;
  font-size: 14px!important;
 color: #666!important;
  width:100% !important
}

.donorfy input#Amount{
  width:99px!important;
}
.donorfy form input:focus {
  border-color: #D00E38!important;
  box-shadow: none !important;
}
.donorfy .table th, .table td {
  padding: .15rem;
  vertical-align: top;
  border-top: 0px solid #dee2e6;
}
.donorfy form input[type='checkbox'] {
  width:25px!important;
  height:25px!important;
  display: inline-block;
  float:left;
  margin-right:5px;
}

//hide single and regular opton
#CreditCardForm table tr tr tr tr tr{
  display:none!important;
}

.basey.form-control {
  border-radius: 5px !important;
  padding: 12px 15px 10px !important;
  height: 40px !important;
  border: 1px solid #e5e5e5 !important;
  font-weight: 600;
  font-size: 18px !important;
  color: #666 !important;
  width: 100% !important;
}

.donorfy form input[type='submit']{
  padding: 15px;
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  color: #222;
  text-transform: uppercase;
  transition: .2s ease;
  font-size: 16px;
  background-color: #d00e38 !important;
  width: 175px !important;
  border-radius: 35px !important;
  color: #fff !important;
  margin: 0 auto;
  /* align-self: center; */
  justify-content: center;
  display: flex;
  height:50px!important;
}

.donorfy form input.button{
  outline:none;
}
//strip / domorfy error table tweaks
.donorfy form#CreditCardForm table{
  width:100%;
}

.donorfy form#CreditCardForm table tr td{
  text-align: left!important;
}
a.btn-mgiftbox{
  //display:flex;
  //width:50%;
}
//target recurring table hide so default is single
.donorfy form#CreditCardForm table:nth-of-type(2) tr:nth-child(5),
.donorfy form#CreditCardForm table:nth-of-type(2) tr:nth-child(6),
.donorfy form#CreditCardForm table:nth-of-type(2) tr:nth-child(7){
  display:none!important;
  //background-color:red;
}
.campaign .overlay{
  background-repeat: no-repeat;
}

.campaign .overlay::before{
  opacity: 0!important;
}
.campaign .overlay{
  background-size: contain;
}
.campaign .info-box ul{
  list-style-type: none;
}
//page specific


.campaign-fr .section-title{
  margin-bottom: 20px;
}
.campaign #accordion p{
  color:$black;
}
.coins{
  font-size:2.5rem;
  color:gray;
}

@media(max-width:768px){
  .campaign .col-lift{
    margin-top:-10px;
  }
  .ti-line-double, .ti-angle-double-down{
    font-size: 2rem;
  }
}
@media(min-width:768px) {
  .info-box .collapse {
    display: block;
  }
  .campaign .col-lift {
    margin-top:-220px;
  }
}