.footer p{
  font-size:$font-size-sm;
}
.footer ul{
  font-size:$font-size-xs;
}

.footer-brand{
  width:190px;
}
footer div.address p{
  color:$white;
  margin-bottom: 0;
}
footer hr{
  border-top: #999 .5px solid;
  width: 100px;
  text-align: left;
  align-self: start;
  padding: 0;
  /* float: left; */
  /* clear: both; */
  margin: 15px 0;
}

footer .additional p{
  font-size:14px;
}
//slick slider project
//@media(min-width: 990px){
//  .slick-track, .slick-slide{
//    width:100% !important;
//    justify-content: start!important;
//  }
//  .project.client-logo-slider a.slick-slide{
//    display:flex!important;
//    width:auto!important;
//    margin-right:3rem;
//  }
//}




