.indicates-required{

}
.modal.close{
  text-align: right;
  padding: 10px 10px 0 0;
}
//wheel form
.wf-group.form-check .wf-group-heading label{
  display:none;
}
.wf-group.form-group textarea.form-control{
  min-height:100px!important;
}

@media(min-width: 768px){

  .wf-group {
    max-width:60%
  }
}
ul.errors{
  list-style-type: none;
  margin: 0 0 2rem 0;
  padding-inline-start: 0;
}
ul.errors li{
  color:$red;
  font-size: small;
  margin: 0;
  padding: 0;
  font-style: italic;
  margin-top: -10px;
}

// mailchimp overrides

#mc_embed_signup .mc-field-group label{
  font-family: $font-family-base;
}

#mc_embed_signup .content__gdpr p{
  margin-bottom:0.5rem;

}

#mc_embed_signup .button{
  background-color: #d00e38 !important;
  border-radius: 35px!important;
  text-transform: uppercase!important;
  font-family: $font-family-base!important;
  font-weight:bold!important;
}
// mailchimp
#mc_embed_signup .button{
  padding: 0 40px !important;
  line-height: 47px!important;
  height:47px!important;
  text-transform: capitalize!important;
}
#mc-embedded-subscribe{
  padding: 13px 40px !important;
}
#mc_embed_signup form{
  margin-left: 0!important;
}