li.nav-item.donate{
  margin:0 auto;
}

.navigation .navbar li.nav-item{
  padding-left: 15px;
  padding-right: 15px;
}
.navigation .navbar .nav-item .nav-link.active{
  color: $red;
  border-bottom:1px solid $red;
  padding:15px 0 0;
}
//.navigation .navbar .nav-item .nav-link:hover{
//  border-bottom:1px solid $red;
//  padding:15px 0 0;
//}
.navigation .navbar .nav-item:last-child .nav-link.active{
  color:$white;
  border-bottom:none;
}
.child.active{
  color:$red;
}
//dropdown
.navigation .navbar .dropdown-item:not(:last-child) {
  margin-bottom: 12px;
}
//hover width
.navigation .navbar .dropdown:hover .dropdown-menu{
  width:290px;
}
 .dropdown-item{
  white-space: pre-wrap;
}
.top-header ul{
  margin: 0 0 0 0;
}