.section.landingpagerows.center ul{
  display: inline-block;
}
.section.landingpagerows.center ul li{
  text-align: left;
}
.overlay::before{
  opacity: 0.3!important;
}
.overlay .location{
  font-size:1rem;
  vertical-align: super;
}
.overlay .text-shadow{
  text-shadow: 1px 1px #333;
  font-family: $font-family-base;
}
.overlay .ti-location-pin{
  font-size:1.7rem
}
.cta p{
  line-height: 1.6;
  margin-bottom: 0;
}

.cta .btn-sm,
.cta .btn-group-sm>.btn {
  padding: 5px 15px !important;
}
.cta.blue{
  background-image: none;
  background-color: $gray-500;
}

//impact icons
 .card i.fa{
  display:flex;
  justify-content: center;
}

section.block{
  margin-bottom: 3rem;
}

//news
.news.top-story h1{
  font-size:30px;
}
//page blocks
.promo{
  background-color: #444;
  border-radius: 5px;
}
.promo div,
.promo h3,
.promo h4,
.promo h5,
.promo p,
promo a{
  color:$white;

}