.section.landingpagerows.center ul{
  display: inline-block;
}
.section.landingpagerows.center ul li{
  text-align: left;
}
.overlay::before{
  opacity: 0.3!important;
}
.overlay .location{
  font-size:1rem;
  vertical-align: super;
}
.overlay .text-shadow{
  text-shadow: 1px 1px #333;
  font-family: $font-family-base;
}
.overlay .ti-location-pin{
  font-size:1.7rem
}
.cta p{
  line-height: 1.6;
  margin-bottom: 0;
}

.cta .btn-sm,
.cta .btn-group-sm>.btn {
  padding: 5px 15px !important;
}
.cta.blue{
  background-image: none;
  background-color: $gray-500;
}

//impact icons
 .card i.fa{
  display:flex;
  justify-content: center;
}

.section.stats .card{
  border-radius: 50%;
    width: 315px;
    height: 315px;
}

section.block{
  margin-bottom: 3rem;
}

//news
.news.top-story h1{
  font-size:30px;
}
//page blocks
.promo{
  background-color: #444;
  border-radius: 5px;
}

.download{
  background-color: $white;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}

//page blocks
.promo div,
.promo h3,
.promo h4,
.promo h5,
.promo p,
promo a{
  color:$white;
}

.promo a.btn{
  white-space:nowrap;

}
.text-black{
  color:#222
}
//quote block
.block .quote-card {
  margin-left: 0;
}
.block .quote-card p{
  max-width:100%;
  margin-left: 0;
}
.block .quote-card:after {
  font-family: Georgia, serif;
  content: "â€";
  position: absolute;
  bottom: 30px;
  line-height: 100px;
  right: 15px;
  font-size: 5em;
  color: rgba(238, 238, 238, .8);
  color: rgba(208, 15, 56, .8);
  font-weight: normal;
}
.block .quote-card:before,
.block .quote-card:after {
  color:$red;
  //color: rgba(208, 15, 56, .8);
}

//image
.block.image figcaption .fa{
  color:$gray-600;
}
.block.image figcaption{
  font-size: 12px;
}

//jobs


.story-subtitle{
  font-style: italic;
}
.stories.page iframe{
  width:100%!important;
  min-height:320px!important;
  height:320px;
}

@media(min-width:990px){
  .stories.page iframe{
    height:420px!important;
  }
}

.vacancies-index a.h2{
  font-size:1.6rem;
}


//supporters
.supporters .card:hover>.card-body{
  color:$white;
}

//volunteers
a.fullcard > .card:hover{
  background-color: $gray-100;
}
