.page-title  h1{
  font-size:26px;
  background-color: rgba(208,35,57,0.63);
  //background-color: rgba(255,235,237,0.63);
  display: inline-block;
  padding: 10px;
}



div.cardrow > [class^="ti-"]{
  font-size:26px;
}