.page-title  h1{
  //font-size:26px;
  //background-color: rgba(208,35,57,0.63);
  //background-color: rgba(255,235,237,0.63);
  display: inline-block;
  padding: 0px;
  text-shadow: 2px 2px #000000;
}

.text-white.text-shadow{
  text-shadow: 1px 1px #000000;
}
.text-red{
  color: $primary
}

div.cardrow > [class^="ti-"]{
  font-size:26px;
}

//.section-title-border wider
.section-title-border{
  padding-bottom: 10px;
}
.section-title-border::before{
  width:300px;
}
//see also full width border
.see-also .section-title-border::before{
  width:100%;
}

.newslist .h4{
  font-size: 1.1rem;
}

p.meta{
  font-size:14px;
}

//malchimp
 input.mce_inline_error {
  //border-color: $white!important;
  font-size:14px!important;
}

 div.mce_inline_error {
  margin: 0 0 5px 0;
  padding: 5px 10px;
  background-color: $white!important;
  font-weight: normal!important;
  font-size:14px!important;
  z-index: 1;
  color: $primary!important;
}
 //mailchimp erorrs response container
 .response{
   padding: 18px;
   border-radius: 5px;
 }
#mce-error-response{
  background: #FFE38F7F;
}
#mce-success-response{
  background: lightyellow;
}
.form-control.mce_inline_error{
  margin-bottom: 5px!important;
}

//old new wpimage
.wp-block-image img{
  max-width:100%;
  height:auto;
}

//fix stylised bullets

.content-block .rounded  ul {
  list-style-type: none;

}

img.ti-svg{
  width: 30px;
  height:auto;
}
.textrow ul{
  list-style-type:none;
  text-align: left;
  margin: 0 auto;
  display:table;
}
.textrow ul li{
  line-height: 2.5rem;
}
.textrow ul li:before{
  font-family: "themify";
  content: "\e65d"!important;
  color:$red;
  margin-right: 5px;

}
.homepage section.section.cards,
.homepage section.section.quoterow,
.homepage section.section.textrow{
  padding:0;
}

.homepage section.section{
  margin: 0 0 3rem 0;
}
.homepage .processstep img.arrow-top{
  top:170px;
}
.homepage section.textrow p:first-of-type,
.homepage section.textrow h3:first-of-type{
  font-size: 2rem;
  line-height: 2.6rem;
  font-weight: 400;
}

//quote specific
.testimonial-icon:before{
  font-size:16px;
}
.quoterow .testimonial-icon:before{
  font-size:5rem;
}

.quoterow .testimonial-icon{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background: #f5f5f5;
  color: #d00e38;
  font-size: 25px;
  line-height: 120px;
  display: inline-block;
  text-align: center;
  margin-bottom: -25px;
}
.quoterow blockquote{
  font-size:1.4rem;
  margin-top:-15px;
}
