<button class="ml-auto navbar-light navbar-toggler d-block " type="button"  data-toggle="canvas" data-target="#bs-canvas-right"
        aria-expanded="false" aria-controls="bs-canvas-right"><span class="vol-mnu-btn">Menu </span>
    <span class="navbar-toggler-icon"></span>
</button>