# Craft 2 Storage (https://craftcms.com/support/craft-storage-gitignore)
# not necessary for Craft 3 (https://github.com/craftcms/craft/issues/26)

/.env
/.idea
/_templatesNY107
/scripts/.env.sh
/vendor
/sql
.DS_Store
/storage/*
!/craft/storage/rebrand
/sql/*
/templatesold/*