# Craft 2 Storage (https://craftcms.com/support/craft-storage-gitignore)
# not necessary for Craft 3 (https://github.com/craftcms/craft/issues/26)
#/config/project
/config/project/
/config/icon-picker.php
/makepdf.js
/.env
/.envcopy
/.idea
/*.sh*
/_templatesNY107
/scripts/.env.sh
/scripts/.envprod.sh
/backups/*
/html
/public_html/fontsold/
/public_html/assets/documents
/public_html/assets/images
/public_html/cpresources
/public_html/cpresources/
/public_html/imager/
/public_html/imager/images/
/vendor
/sql
.DS_Store
/storage/*
!/craft/storage/rebrand
/sql/*
/templatesold/*
*.codekit3
config.codekit3
config.codekit3
/config/
*.yaml
