<!-- quote row -->
<section class="section {{ block.type| lower }}">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>{{ block.rowTitle | raw }}</h2>
            </div>

            <div class="mt-5 col-md-10 offset-md-1 text-center">
                <i class="hide align-self-start testimonial-icon ti-quote-left"></i>
                <blockquote class="quote-card shadow p-5">
                    <p>{{ block.quote }}</p>
                    {% if block.author | length %}<br><cite><span class="small">{{ block.author }}</span></cite>{% endif %}</blockquote>
                <i class="hide testimonial-icon ti-quote-right"></i>

            </div>


        </div>
    </div>
    </div>
</section>
