{% extends "_layouts/generic-page-layout.twig" %}
{% import '_macros' as macros %}

{% block content %}
    {%  set layout = null %}
    <!--Join  Page Entry type Content -->
    {%  if entry is defined %}

        {% include '/_partials/hero-featured.twig' %}

        <section class="bg-gra {{entry.type }} page {%  if   entry.featureImage | length < '1' %} no-featured-image{% endif %}">
            <div class="container">
                <div class="row ">
                    <div class="col-lg-8 pt-3">
                        <div class="bg-whit rounded mb-40">
                        <h1 class="mb-5">{{ entry.title }}</h1>
                        {% set lazyImage = false %}
                        {% set blockPrefix = "" %}
                        {% for block in entry.contentBlock.all() %}
                            {% include ('pages/_partials/_' ~ blockPrefix ~ 'block_' ~ block.type.handle) %}
                            {% if block.type.handle == "image" %}
                                {% set lazyImage = true %}
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <!-- Sidebar -->
                        <div class="bg-white px-4 py-4 sidebar-box-shadow">


                            {%  include '/pages/_partials/_side_subnav.twig' %}
                            {%  include '/pages/_partials/_side_block_subscribe.twig' %}
                            {%  if entry.ctaLink |length %}
<div class="mt-3">


                                <a href="{{ entry.ctaLink.one().url }}" class="btn btn-outline w-100 mt-5 mb-3">{%  if entry.ctaButtonText |length %}
                                        {{ entry.ctaButtonText  }}
                                    {% endif %}</a>
                            {% endif %}
</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {%  endif %}

{% endblock %}
