{#{% if block.quote |length %}#}
{#<blockquote class="blockquote">#}
{#    <p class="mb-0">{{ block.quote }}</p>#}

{#    {% if block.citationIntro |length %}#}
{#    <footer class="blockquote-footer">#}
{#        {{ block.citationIntro }}#}
{#        {% endif %}#}

{#        {% if block.citation |length %}#}
{#            <cite title="Source Title">#}
{#                {% if block.citationLink |length %}<a href="{{ block.citationLink }}"> {% endif %}#}
{#                {{ block.citation }}#}
{#                {% if block.citationLink |length %}</a>{% endif %}#}
{#            </cite>#}
{#        {% endif %}#}
{#        {% if block.citationIntro |length %}#}
{#    </footer>#}
{#    {% endif %}#}
{#</blockquote>#}
{#{% endif %}#}

<div class="row">
    <div class="container">
        <blockquote class="quote-card mb-5 ">
            <p>
                I don’t know what I would have done without the support from Justlife. I have been suicidal and attempted it but I haven’t done this since having the support from Justlife.
            </p>

            <cite>
                – UTA resident
            </cite>
        </blockquote>



    </div>
</div>