<!-- row text -->
<section class="section {{ entry.type }} {{ block.alignment }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 align-self-center text-center">
                <h2 class="section-title section-title-border">{{ block.heading }}</h2>
                {{block.text}}
            </div>

        </div>
    </div>
</section>
<!-- row text -->