{%  set bgcolor = null %}
{% if block.backgroundColor |length %}
{%  set bgcolor = block.backgroundColor %}
    {% css %}
        .bg-gray #mc_embed_signup {
            background:#f5f5f5!important
        }
        .bg-white #mc_embed_signup {
        background:#ffffff;
        }


        #mc_embed_signup #mce-success-response{
        color: #212529!important;
        }
        #mc_embed_signup div#mce-responses {
            float: left;
            top: -1.4em;
            padding: 0!important;
            overflow: hidden;
            width: 100%!important;
            margin:0!important;
        }
        #mce-error-response,
        #mce-success-response {
            background: #f9d481!important;
        }
    {% endcss %}
{% endif %}
{% if block.embedCode |length %}
<section class="block embed mb-4 mt-4  p-3 {{ block.backgroundColor }}">
{{ block.embedCode |raw }}
</section>
{% endif %}


