{% extends "_layouts/generic-page-layout.twig" %}

{% block headLinks %}
    {{ parent() }}
    <link rel="amphtml" href="{{ siteUrl('/amp') }}">
{% endblock headLinks %}

{% block content %}
    {% include "_partials/hero-slider.twig" %}

{% endblock %}

{% block subcontent %}


    <!-- about -->
    <section class="section position-relative pb-xl-200-lg-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center mt-5 mb-5">
{#                    <h5 class="section-title-sm">Our approach</h5>#}
                    <h2 class="mb-4 section-title-border ">Our vision</h2>
                    <p>Our vision is to make people’s stay in temporary accommodation as short, safe and healthy as possible. </p>
                </div>
                <!-- process step -->
                <div class="col-lg-4 col-sm-6 mb-md-50">
                    <div class="process-item py-xl-4 pl-xl-5 pt-5 px-4 rounded border position-relative" data-mh="mh-process">
                        <div class="process-item-number">1</div>
                        <h5 class="text-primary">Short</h5>
                        <p>We help people plan to help them secure permanent residence and avoid homelessness.</p>
                    </div>
                </div>
                <!-- process step -->
                <div class="col-lg-4 col-sm-6 mb-md-50">
                    <div class="process-item py-xl-4 pl-xl-5 pt-5 px-4 rounded border position-relative" data-mh="mh-process">
                        <div class="process-item-number">2</div>
                        <h5 class="text-primary">Safe</h5>
                        <p>We keep them safe by working with landlords and polciy makers to improve the conditions of temporary accommodation.</p>
                    </div>
                </div>
                <!-- process step -->
                <div class="col-lg-4 col-sm-6 mb-md-50">
                    <div class="process-item py-xl-4 pl-xl-5 pt-5 px-4 rounded border position-relative" data-mh="mh-process">
                        <div class="process-item-number">3</div>
                        <h5 class="text-primary">Healthy</h5>
                        <p>We ensure their physical & mental health, through access to appointments, prescriptions and medication, and local support services.</p>
                    </div>
                </div>
            </div>
        </div>
        <img class="arrow-top" src="images/arrow-top.png" alt="">
        <img class="arrow-bottom" src="images/arrow-bottom.png" alt="">
    </section>
    <!-- /about -->


{% endblock %}

{# -- Any JavaScript that should be included before </body> -- #}
{% block bodyJs %}
    {{ parent() }}
{% endblock bodyJs %}
