{% extends "_layouts/generic-page-layout.twig" %}

{% block headLinks %}
    {{ parent() }}
    <link rel="amphtml" href="{{ siteUrl('/amp') }}">
{% endblock headLinks %}

{% block content %}
    {% include "_partials/hero-slider.twig" %}

{% endblock %}

{% block subcontent %}


    <!-- sectionrow -->
    {% for block in entry.sectionRow.all() %}

        {% include ('home_blocks/' ~ block.type ~ '.twig') %}

    {% endfor %}


    <!-- /about -->
<section class="section hide ">
    <div class="container">
        <div class="row">
            <!-- service-item 3 -->
            <div class="col-lg-3">
                <div class="mb-4 card px-2 py-5 text-center">
                    <i class="h2 text-primary d-inline-block mb-20 ti-bar-chart"></i>
                    <h4>Business Consulting</h4>
                    <P>Lorem ipsum dolor amet consecte tur adipisicing elit sed done eius mod tempor enim ad minim</P>
                </div>
            </div>

            <!-- service-item 3 -->
            <div class="col-lg-3">
                <div class="mb-4 card px-2 py-5 text-center">
                    <i class="h2 text-primary d-inline-block mb-20 ti-bar-chart"></i>
                    <h4>Business Consulting</h4>
                    <P>Lorem ipsum dolor amet consecte tur adipisicing elit sed done eius mod tempor enim ad minim</P>
                </div>
            </div>

            <!-- service-item 3 -->
            <div class="col-lg-3">
                <div class="mb-4 card px-2 py-5 text-center">
                    <i class="h2 text-primary d-inline-block mb-20 ti-bar-chart"></i>
                    <h4>Health care</h4>
                    <P>In 2018/2019, we helped 157 individuals engage with healthcare services and maintain their overall health & wellbeing.</P>
                </div>
            </div>

            <!-- service-item 3 -->
            <div class="col-lg-3">
                <div class="mb-4 card px-2 py-5 text-center">
                    <i class="h2 text-primary d-inline-block mb-20 ti-bar-chart"></i>
                    <h4>Business Consulting</h4>
                    <P>Lorem ipsum dolor amet consecte tur adipisicing elit sed done eius mod tempor enim ad minim</P>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}

{# -- Any JavaScript that should be included before </body> -- #}
{% block bodyJs %}
    {{ parent() }}
{% endblock bodyJs %}
