
    {% css %}
        .bg-gray #mc_embed_signup {
            background:#f5f5f5!important
        }
        .bg-white #mc_embed_signup {
        background:#ffffff;
        }


        #mc_embed_signup #mce-success-response{
        color: #212529!important;
        }
        #mc_embed_signup div#mce-responses {
            float: left;
            top: -1.4em;
            padding: 0!important;
            overflow: hidden;
            width: 100%!important;
            margin:0!important;
        }
        #mce-error-response,
        #mce-success-response {
            background: #f9d481!important;
        }
    {% endcss %}

{% if block.audio |length %}
<section class="block embed mb-4 mt-4  p-3 {{ block.backgroundColor }}">
    <figure>
        <figcaption>{% if block.heading |length %}{{ block.heading }}{% endif %}</figcaption>
        <audio
                controls
                src="{{ block.audio.one().getUrl() }}">
            <a href="/media/cc0-audio/t-rex-roar.mp3">
                Download audio
            </a>
        </audio>
    </figure>
</section>
{% endif %}


