<!-- global subscribe newsletter -->
<div class="newsletter">
    <h4 class="mb-3">Stay Updated</h4>
    <input type="email" name="email" id="email" class="form-control pass-email" placeholder="Email">
    <button type="submit" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#subscribeModal">Subscribe</button>
</div>